body{
	background-image: url("http://eidupont.scene7.com/is/image/eidupont/Everest_690x345_630x315");
	background-color: black; 
	background-repeat: repeat;
    background-attachment: fixed;
}
.titre{
	display: block;
	width: 50%;
	text-align: center;
	margin: auto;
	color: blue;
	font-size: 8em;
}
.sousTitre{
	text-align: center;
	font-size: 50%;
	color:green;
}

.buttonHandler{
	display: block;
	size:50%;

}

/* Version mobile */
@media (max-width: 1000px) {
    * {
        box-sizing: border-box;
    }
    
    /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

    img,
    table,
    td,
    blockquote,
    code,
    pre,
    textarea,
    input,
    iframe,
    object,
    embed,
    video {
        max-width: 100%;
    }

    img {
        height: auto;
    } 

	body{
		width: auto;
        margin: 0;
        padding: 0;
		background-repeat: no-repeat;
	    background-attachment: scroll;
	    background-size: 100% auto;
	}
	
}
}